doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Othello

    link(href="css/index.css" rel="stylesheet")
  body
    .container
        .board
          - var cols = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
          - for(let i = 0; i < 8; i++)
            div(class="row")
              - for(let j = 0; j < 8; j++)
                div(id=cols[j] + (i + 1) class="cell")
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")            
    script(src="javascript/game.js")
    