html {
    height: 100vh;
}
body {
    min-height: 100vh;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.board {
    border: solid black calc(85vh / 8 / 10);
    box-shadow: 10px 5px 5px darkgrey;
}
.row {
    display: flex;
}
.cell {
    display: flex;
    height: calc(85vh / 8);
    width: calc(85vh / 8);
    background: green;
    border: solid black 1px;
}
.piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;    
}
.white {
    background: white;
    box-shadow: 4px 2px 3px darkgreen;
}
.black {
    background: black;
    box-shadow: 4px 2px 3px darkgreen;
}

@media only screen and (orientation: portrait) {
    .cell {
        height: calc(85vw / 8);
        width: calc(85vw / 8);
    }
    .board {
        border: solid black calc(85vw / 8 / 10);
        box-shadow: 10px 5px 5px darkgrey;
    }
}